body {
  font-family: Arial, Helvetica, sans-serif;
  color: #060930;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(to right top, #2176de, #18a2f5b3);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 60vw;
  background: linear-gradient(to right bottom, #ffffffb3, #ffffff4d);
  border-radius: 5px;
  position: relative;
}
a {
  text-decoration: none;
  color: #0f4c75;
}
p {
  position: absolute;
  bottom: 0;
}
